*{
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'poppinsregular';
}


#home{
    /* background-color:#1f1f1f; */
    background-image: url("../images/back.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;

}
#home header{
    height: 100px;
    display: flex;
    justify-content: center;
}
#home header img{
    width: 100px;
}
#home section.spotlight{
    align-items: center;
    display: flex;
    justify-content: center;
}
#home section.spotlight div.text{
    text-align: center;
    color: #fff;
    font-family: 'poppinssemibold';
    padding: 50px ;
    margin-top: 10%;
}
#home section.spotlight div.text h1{
    font-size: 43px;
    letter-spacing: 3px;
    color: #fff;
    margin-top: 30px;
}
#home section.spotlight div.text h1 span{
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    font-family: 'poppinslight';
    letter-spacing: 5px;
    overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
    animation: typing 5.5s steps(40, end) infinite,blink-caret .75s step-end infinite ;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
#home section.spotlight div.text img{
    width: 20%;
    height: 5%;
    border-radius: 50%;
}
#about{
    background-color: #171717;
    padding: 80px 40px;
}
#about section.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about section.content div.left{
    
}
#about section.content div.left img{
  width: 100px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#about section.content div.right {
}
#about section.content div.right ul{
    list-style: none;
}
#about section.content div.right ul li{
    margin-bottom: 20px;
    color: rgb(185, 185, 185);
    letter-spacing: 1px;
}
#about section.content div.right ul li a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}
#about div.bottom p{
    font-size: 16px;
    color: rgb(185, 185, 185);
    letter-spacing: 1px;
    width: 40%;
    line-height: 1.7em;
    margin: 0 auto;
    text-align: center;

}
#intrest {
    background-color: #171717;
    padding: 100px;
    padding-bottom: 0;
}
#intrest h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
#intrest hr {
    width: 10%;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 1px solid #eae328;
}
#intrest ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}
#intrest ul li {
    color: #eae328;
    font-size: 47px;
    width: 30%;
    margin-bottom: 50px;
}
#intrest ul li:last-child{
    margin-right: 0;
}
#intrest ul li i {
    display: block;
    margin-bottom: 20px;
}
#intrest ul li i:hover{
    transform: scale(1.2);
    animation: 1s ease-in-out ;
}
#intrest ul li span {
    font-size: 16px;
}
#intrest hr.line {
    margin-top: 10%;
    width: 30%;
    margin: 0 auto;
    border: 1px solid #eae328;
}
footer {
    padding: 30px;
    background-color: #171717;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 60px;
}
footer ul li {
    margin-right: 30px;
}
footer ul li:last-child {
    margin-right: 0;
}
footer ul li a {
    font-size: 24px;
    color: rgb(185, 185, 185);
    padding: 10px 8px;
    border-radius: 10px;
}
footer ul li a:hover {
    background-color: #b1a7a7;
    color: #171717 ;
}
footer ul li a i {}
@media all and (max-width:1280px){
    #intrest ul li{
        font-size: 20px;
    }
}
@media all and (max-width:980px){
    #intrest ul li{
        font-size: 18px;
    }
}

@media all and (max-width:780px){
    #about div.bottom p {
        width: 60%;
    }
    #home section.spotlight div.text{
        margin-top: 50%;
    }
    #intrest ul li{
        font-size: 24px;
    }
    #intrest ul li span{
        font-size: 12px;
    }
}
@media all and (max-width:640px){
    #intrest ul li span{
        font-size: 12px;
    }
    #home {
        /* background-image: none;
        background-color: #393d3e; */
    }
}
@media all and (max-width:480px){
    #home {
        /* background-image: none; */
        /* background-color: #393d3e; */
    }
    #home section.spotlight div.text {
        margin-top: 42%;
    }
    #home section.spotlight div.text h1 {
        font-size: 30px;
    }
    #home section.spotlight div.text h1 span{
        font-size: 16px;
    }
    #about section.content div.right ul li{
        font-size: 10px;
    }
    /* #about section.content div.right ul li span{
        display: none;
    } */
    #about div.bottom p{
        width:90%;
        font-size: 10px;
    }
    #intrest ul li:nth-child(2n){
        margin-right: 0;
    }
    #intrest ul li{
        font-size: 18px;
        margin: 10px;
    }
    #intrest ul li span{
        font-size: 12px;
    }
    
   
}
@media all and (max-width:360px) {
    #home {
        /* background-image: none; */
        /* background-color: #393d3e; */
    }
    #home section.spotlight div.text h1 {
        font-size: 26px;
    }
    #home section.spotlight div.text h1 span{
        font-size: 16px;
    }
    #home section.spotlight div.text {
        margin-top: 40%;
    }
    /* #about section.content div.right ul li span{
        display: none;
    } */
    #about section.content div.left img{
        width: 80px;
    }
    #intrest h1 {
        width: 100%;
        font-size: 18px;
    }
    #intrest ul li {
        font-size: 30px;
        display: grid;
    }
    footer ul li a{
        font-size: 10px;
    }
    #intrest ul li{
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    #intrest ul li span{
        font-size: 12px;
    }
}
@media all and (max-width:320px) {
    #home {
        /* background-image: none; */
        /* background-color: #393d3e; */
    }
    #home section.spotlight div.text{
        margin-top: 35%;
    }
    #about section.content div.left img{
        width: 70px;
        margin-right: 10px;
    }
    #about section.content div.right ul li{
        font-size: 8px;
    }
    #about div.bottom p{
        width: 90%;
        font-size: 8px;
    }
    #about section.content div.right ul li span{
        display: none;
    } 
    #intrest ul li {
        display: grid;
    }
    footer ul li a{
        font-size: 10px;
    }
}